@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Helvetica Neue', Arial, sans-serif;
  --font-mono: 'JetBrains Mono', ui-monospace, SFMono-Regular, monospace;
  
  --color-ink: #ffffff;
  --color-paper: #000000;
  
  --color-border-dark: #222222;
  --color-card-bg: #050505;
  --color-muted: #888888;
}

@layer base {
  body {
    @apply bg-paper text-ink font-sans antialiased;
  }
}

